<h3>SIGN IN</h3>

<form action="" method="POST">
{% csrf_token %}
    <!--
    <label for="username"> Username </label><input type="text" id="username" name="username" value="{{ username }}"/> <br>
    <label for="password"> Password </label><input type="password" id="password" name="password"/> <br>
{% if message_line %} <br> <strong> <i> {{ message_line }} </i></strong> {% endif %}
    -->
{% if messages %}
    {% for message in messages %}
        <b> <i> {{ message }} </i></b>
    {% endfor %}
{% endif %}
    {{ form.as_p }}
    <br><input type="submit" value="Sign In" />
</form>
<p>No account yet? <a href="{% url 'signup' %}">SIGN UP NOW</a> </p>