<h3>SIGN UP</h3>

{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

{% if signup_okay %}
 <p><strong>{{ signup_okay }}<a href="../">Click here</a> to sign in.</strong></p>
{% else %}
<form action="" method="POST">
{% csrf_token %}
<!--
    <label for="username">Username </label><input type="text" id="username" name="username" value=""/><br>
    <label for="password">Password </label><input type="password" id="password" name="password"/><br>
    <label for="confirm_password">Confirm Password </label><input type="password" id="confirm_password" name="confirm_password"/><br>
    <label for="email">Email </label><input type="email" id="email" name="email"/><br>
    <label for="firstname">First Name </label><input type="text" id="firstname" name="firstname"/>
    <label for="lastname">Last Name </label><input type="text" id="lastname" name="lastname"/><br>
-->
    {{ form.as_p }}
    <br><input type="submit" value="Sign Up" />
</form>
{% endif %}